trl>=0.26.1
liger_kernel>=0.6.4
# latest trl only support vllm<=11.2
vllm==0.11.2
peft
wandb
deepspeed
math_verify
# To install flash-attn with --no-build-isolation, run:
# pip install flash-attn --no-build-isolation
flash-attn